{% extends 'base.html.twig' %}

{% block title %}Allomecano | S'enregistrer{% endblock %}

{% block body %}
    <section class="is-primary is-fullheight">
    <div class="hero-body is-primary">
        <div class="container">
        <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
    {{ form_start(form) }}
        <div class="control has-icons-left">
        {{ form_row(form.email, {'attr': {'class': 'input', 'placeholder' : 'utilisateur@mail.com', 'autofocus' : ''}}) }}
        </div>
        <div class="control has-icons-left mt-1">
        {{ form_row(form.username, {'attr': {'class': 'input', 'placeholder' : 'nom d\'utilisateur'}}) }}
        </div>
        <div class="control has-icons-left mt-1">
        {{ form_row(form.password) }}
        </div>

        <button class="button is-success mt-1">S'enregistrer</button>
    {{ form_end(form) }}
    </section>
{% endblock %}