{% extends 'base.html.twig' %}

{% block title %}Allomecano | Modifier mes informations (Garage){% endblock %}

{% block body %}

    <section class="is-primary is-fullheight flex-1">
    <div class="hero-body is-primary">
        <div class="container">
        <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
    {{ form_start(formGarage)}}
    <div class="control">
        {{ form_row(formGarage.name, {'attr': {'placeholder': 'Nom de votre garage', 'class': 'input',}}) }}
    </div>
    <div class="control">
        {{ form_row(formGarage.presentation, {'attr': {'placeholder': 'Présentation de votre garage', 'class': 'input',}}) }}
    </div>
    <div class="control">
        {{ form_row(formGarage.adress  , {'id': 'user_input_autocomplete_address', 'attr': {'class': 'input', 'placeholder': 'Adresse de votre garage'}}) }}
    </div>
    <div class="control" onchange="affiche_bloc();">
        {{ form_row(formGarage.mobility, {'label': 'Cochez si vous êtes mobile'}) }}
    </div>
    <div id="form-distance" class="control">
        {{ form_row(formGarage.distance, {'attr': {'class': 'input'}}) }}
    </div>
    <div class="control">
        {{ form_row(formGarage.avatar)}}
    </div>
    <div class="control">
        {{ form_row(formGarage.images)}}
    </div>
    {% for ServiceField in formGarage.service %}
                <div class="field-switch no-margin-bottom">
                {{ form_row(ServiceField, { 'attr' : { 'class' : 'toggle' }}) }}
                </div>
        {% endfor %}

    {{ form_row(formGarage.gps) }}

    <div class="control">
        <button class="button is-success mt-1" id="button">Enregistrer les modifications</button>
    </div>
    
{{ form_end(formGarage)}}
<a href="{{ path('profile', {'id': app.user.id}) }}">Revenir à mon compte</a>
</section>
<script src="{{ asset('assets/js/formGarage.js') }}"></script>
	{% include 'autocomplete/autocomplete.html.twig' %}
{% endblock %}