{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

<section class="is-primary is-fullheight flex-1">
    <div class="hero-body is-primary">
        <div class="container">
        <div class="columns is-centered">
            
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <h1>Modification du mot de passe</h1>
    {{ form_start(form) }}
        <div class="control ">
            <div class="control mt-1">
                {{ form_row(form.oldPassword, {'attr': {'class': 'input'}}) }}
            </div>
            <div class="control mt-1">
                {{ form_row(form.newPassword, {'attr': {'class': 'input'}}) }}
            </div>
            <div class="control mt-1">
                {{ form_row(form.confirmPassword, {'attr': {'class': 'input'}}) }}
            </div>
            <div class="control mt-1">
                <button class="button is-success mt-1" id="button">Modifier le mot de passe</button>
            </div>
        </div>
    {{ form_end(form) }}
</section>

{% endblock %}