{% extends 'base.html.twig' %}

{% block title %}Allomecano | Mon profil - {{ user.username }}{% endblock %}

{% block body %}

<h1>Hello {{ user.username }}</h1>
<h2>{{ user.firstname }} {{ user.lastname }}</h2>
<p>{{ user.email }}</p>
<p>{{ user.phone }}</p>
<p>{{ user.adress }}</p>

{% if user.avatar %}
<img src="{{ asset(user.avatar) }}" height="200" width="200">
{% endif %}

{% for visit in user.visit %}
<a href="{{ path('reservation_history', {'id': visit.id } ) }}">{{ visit.garage.name }}</a><br>
{# {{ visit.date|date('d/m/Y') }}<br>
{{ visit.service.name }} {{ visit.service.price }} euros. #}
    
{% endfor %}

<a href="{{ path('profileEdit', {'id': user.id})}}">Modifier mes données</a>

{% if is_granted('ROLE_GARAGE') %}
    <a href="{{ path('garageEdit', {'id': app.user.id, 'garage': app.user.garage.id})}}">Modifier les données de mon garage</a>
{% endif %}

<div class="control has-icons-left mt-1">

    <form action="{{ path('delete_user', {id: user.id})}}" method="post" style="display: inline-block" onsubmit="return confirm('Etes-vous sur de vouloir supprimer votre profil ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id)}}">
        <button class="button is-danger mt-1">Supprimer mon compte</button>
    </form>
    
</div>
{% endblock %}
