{% extends 'base.html.twig' %}

{% block title %}Allomecano | Mon profil - {{ user.username }}{% endblock %}

{% block body %}

<div class="columns is-12 is-multiline is-mobile flex-1">
    <div class="column is-8 is-vcentered has-text-centered">
    <h1 class="is-size-4 mb-1"><i class="fas fa-address-card mr-1"></i>Mon profil</h1>
    <h1 class="is-size-5">Bienvenue {{ user.username }}</h1>
    {% if user.avatar %}
    <img class="mt-1" src="{{ asset(user.avatar) }}" height="100" width="100">
    {% else %}
    <div class="avatar" style="font-size: 75px;"><i class="fas fa-user-circle"></i></div>
    Aucun avatar
    {% endif %}
    <div class="column is-8 is-vcentered mt-1">
    <h1 class="is-size-5 mb-1"><i class="fas fa-id-badge mr-1"></i>Mes coordonnées</h1>
    <h2>{{ user.firstname }} {{ user.lastname }}</h2>
    <p>{{ user.email }}</p>
    <p>{{ user.phone }}</p>
    <p>{{ user.adress }}</p>
    </div>
    {% if is_granted('ROLE_GARAGE') %}
        <table class="mt-2 is-vcentered">
            <th>Image(s) de mon garage</th>
            {% for image in user.garage.images %}
                <tr>
                    <td><img src="{{ asset(image.url)}}" width="80" ></td>
                    <td>
                        <form action="{{ path('delete_image', {id: image.id})}}" method="post" style="display: inline-block">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id)}}">
                        <button class="button is-danger mt-1"><i class="fas fa-trash-alt mr-1"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% for visit in user.visit %}
    <a href="{{ path('reservation_history', {'id': visit.id } ) }}">{{ visit.garage.name }}</a><br>
    {# {{ visit.date|date('d/m/Y') }}<br>
    {{ visit.service.name }} {{ visit.service.price }} euros. #}
    
    {% endfor %}
    <a href="{{ path('profileEdit', {'id': user.id})}}" class="button is-info"><i class="fas fa-user-edit mr-1"></i>Modifier mes données</a>

    {% if is_granted('ROLE_GARAGE') %}
        <br><a href="{{ path('garageEdit', {'id': app.user.id, 'garage': app.user.garage.id})}}" class="button is-warning mt-1"><i class="fas fa-car mr-1"></i>Modifier les données de mon garage</a>
    {% endif %}
    <div class="mt-1 is-vcentered">
        <form action="{{ path('delete_user', {id: user.id})}}" method="post" style="display: inline-block">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id)}}">
            <button class="button is-danger mt-1"><i class="fas fa-trash-alt mr-1"></i>Supprimer mon compte</button>
        </form>
    </div>
</div>

</div>
{% endblock %}
