{% extends 'base.html.twig' %}

{% block title %}Allomecano | S'enregistrer{% endblock %}

{% block body %}
    <section class="is-primary is-fullheight">
    <div class="hero-body is-primary">
        <div class="container">
        <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
    {{ form_start(form) }}
        <div class="control has-icons-left">
            <div class="control has-icons-left mt-1">
                {{ form_row(form.firstname, {'attr': {'class': 'input', 'placeholder' : 'Prénom', 'autofocus' : ''}}) }}
            </div>
            <div class="control has-icons-left mt-1">
                {{ form_row(form.lastname, {'attr': {'class': 'input', 'placeholder' : 'Nom'}}) }}
            </div>
            <div class="control has-icons-left mt-1">
                {{ form_row(form.username, {'attr': {'class': 'input', 'placeholder' : 'Pseudo'}}) }}
            </div>
            <div class="control has-icons-left mt-1">
                {{ form_row(form.email, {'attr': {'class': 'input', 'placeholder' : 'utilisateur@mail.com'}}) }}
            </div>
            <div class="control has-icons-left mt-1">
                {{ form_row(form.phone, {'attr': {'class': 'input', 'placeholder' : 'N° de téléphone'}}) }}
            </div>
            <div class="control has-icons-left mt-1">
                {{ form_row(form.adress, {'id': 'user_input_autocomplete_address', 'attr': {'class': 'input', 'placeholder' : 'Adresse'}}) }}
            </div>
            <div class="control has-icons-left mt-1">
                {{ form_row(form.avatar, {'attr': {'class': 'input', 'placeholder' : 'Url de votre avatar'}}) }}
            </div>
            <div class="control has-icons-left mt-1">
                {{ form_row(form.password, {'attr': {'placeholder': 'Modification du mot de passe'}}) }}
            </div>
            <div class="control has-icons-left mt-1">
            <label> Cocher cette case si vous êtes un professionnel.</label><br>
                <input type="checkbox" id="formGarage" name="formGarage" onchange="affiche_bloc();">
            </div>

    {{ form_end(form) }}

    <div id="container-formGarage">

    {{ form_start(formGarage)}}
        <div class="control has-icons-left mt-1">
            {{ form_row(formGarage.name, {'attr': {'placeholder': 'Nom de votre garage', 'class': 'input',}}) }}
        </div>
        <div class="control has-icons-left mt-1">
            {{ form_row(formGarage.adress  , {'id': 'user_input_autocomplete_address', 'attr': {'class': 'input', 'placeholder': 'Adresse de votre garage'}}) }}
        </div>
        <div class="control has-icons-left mt-1">
            {{ form_row(formGarage.email, {'attr': {'placeholder': 'Email de votre garage', 'class': 'input'}}) }}
        </div>
        <div class="control has-icons-left mt-1" onchange="affiche_bloc();">
            {{ form_row(formGarage.mobility, {'label': 'Cochez si vous êtes mobile'}) }}
        </div>
        <div id="form-distance" class="control has-icons-left mt-1">
            {{ form_row(formGarage.distance, {'attr': {'class': 'input'}}) }}
        </div>
        <div class="control has-icons-left mt-1">
            {{ form_row(formGarage.service, {'attr': {'class': 'input'}}) }}
        </div>
    {{ form_end(formGarage)}}

    </div>

        <button class="button is-success mt-1">S'enregistrer</button>
    </section>
{% endblock %}