{% extends 'base.html.twig' %}

{% block title %}Allomecano | Résultat de la recherche{% endblock %}

{% block body %}

<section class="section flex-1">
<div class="columns is-12">
<div class="column is-6">
	{% for garage in garages  %}
	<div class="search-garage-infos" data-name="{{ garage.name }}">
	{{ garage.adress }}
	</div>
	{% endfor %}
</div>
<div class="column is-6">
<div id="map">
	</div>
</div>
</div>
</div>
</section>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyAa_XzBtUTRBtVf2yBNiqYhT1bvBJX_Xoo" type="text/javascript"></script>

<script>
		map = new google.maps.Map(document.getElementById("map"), {
		center: new google.maps.LatLng({{ zoomLatitude }}, {{ zoomLongitude }}),
		zoom: 11,
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		mapTypeControl: true,
		scrollwheel: true,
		mapTypeControlOptions: {
			style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR
		},
			navigationControl: true,
			navigationControlOptions: {
			style: google.maps.NavigationControlStyle.ZOOM_PAN
		}
		});

		geocoder = new google.maps.Geocoder();
		var infowindow = new google.maps.InfoWindow();
		// On parcourt l'objet garages
		{% for garage in garages %}
		{
			geocoder.geocode({ 'address': "{{ garage.adress }}" }, function (results, status) 
			{
        		var latLng = {lat: results[0].geometry.location.lat (), lng: results[0].geometry.location.lng ()};

        		if (status == 'OK') 
				{
            		var marker = new google.maps.Marker({
                	position: latLng,
                	map: map
            		});

					google.maps.event.addListener(marker, 'click', function(){
        			//infowindow.close(); // Close previously opened infowindow
       				//infowindow.setContent( );
					//$('.section').find("[data-garage='" + {{ garage.name }} "']");
					var element = document.body.querySelector('.search-garage-infos[data-name="{{ garage.name }}"]');

					element.classList.add("backgroundIsBlue");
					//var div = section.querySelector("[data-name='" + {{ garage.name }} + "']");

					console.log(element);
        			//infowindow.open(map, marker);
					});
        		} 
				else 
				{
            		console.log('Geocode was not successful for the following reason: ' + status);
        		}
    		});
		}
		{% endfor %}

  /*$("#map").gmap3({
        center:[{{ zoomLatitude }}, {{ zoomLongitude }}],
        zoom: 14,
        mapTypeId : google.maps.MapTypeId.ROADMAP
      })
      .marker([
        {% for garage in garages %}
        	{address:"{{ garage.adress }}", options:{icon: "https://maps.google.com/mapfiles/marker_grey.png"}},
	  	{% endfor %}
	  ],
            options:{
              draggable: false
            },
            // Evénement de clic que sur le marqueur
            events:{
              click: function(marker, event, context){
                var map = $(this).gmap3("get"),
                  infowindow = $(this).gmap3({get:{name:"infowindow"}});
                if (infowindow){
                  infowindow.open(map, marker);
                  infowindow.setContent(context.data);
               //////////////
                } else {
                  $(this).gmap3({
                    infowindow:{
                      anchor:marker, 
                      options:{content: context.data}
                    }
                  });
              ///////////////
                }
              },

            }
          }
        });

		 // Overlay à utiliser : Créer une div avec un attr-id pour pouvoir le cibler avec jQuery

   /*overlay:{
        values: [
            { latLng: [38.55240, -90.41710], data: "PRINTER01", options: { content: "<div>Whatever you want here!</div>" }  },
            { address: "1234 E. Main Street, Springfield USA", data: "SERVER01", options: { content: "<div><i class='icon-reorder'></i></div>" } }
        ],*/   
</script>

{% endblock %}

