{% extends 'base.html.twig' %}

{% block title %}Allomecano | Garage{% endblock %}

{% block body %}
<div class="buttons is-vcentered">
    <button onclick="goBack()" class="button is-link mt-1"><i class="fas fa-backward mr-1"></i>Retour</button>
</div>
<section class="section section--garage">
<div class="columns garage is-12 is-multiline has-text-centered">
    <div class="column garage-logo is-4">
        {% if garage.avatar is null %}
        <img src="{{"https://bulma.io/images/placeholders/96x96.png"}}">
        {% else %}
        <img class="avatar-garage" src="{{ asset( garage.avatar) }}">
        {% endif %}
    </div>

    <div class="column garage-data is-4">
        <h1 class="title is-2 blue-text">{{ garage.name }}</h1>
        <div class="content is-small-3 blue-text-strong">Adresse :</div>
        <p class="content is-small-2">{{garage.adress}}</p>
        <div class="content is-small-3 blue-text-strong">Note globale donnée par nos utilisateurs :</div>
        {% if garage.comments|length > 0 %}
            <small>Moyenne calculée sur {{ garage.comments|length }} avis.</small>
            {% include 'partials/rating.html.twig' with {'rating': garage.avgRatings } %}
        {% else %}
            <p>Ce garage n'a pas encore d'avis.</p>
        {% endif %}
    </div>

    <div class="column garage-data is-4">
        <div class="column garage-data is-vcentered">
            <div class="siema">
                {% for image in garage.images %}
                <div><img src="{{ asset( image.url ) }}" alt="image" width="400"></div>
                {% endfor %}
            </div>
            <div class="is-vcentered">
                <button class="prev button is-link mt-1 is-vcentered"><i class="fas fa-backward mr-1"></i></button>
                <button class="next button is-link mt-1 is-vcentered"><i class="fas fa-forward mr-1"></i></button>
            </div>
        </div>
    </div>
</div>
</section>

{# {% if garage.images|length > 0%}
<section class="section section--garage">
<div class="columns garage is-12 is-multiline has-text-centered">
<div class="column garage-data is-4 is-vcentered">
    <div class="siema">
        {% for image in garage.images %}
        <div><img src="{{ asset( image.url ) }}" alt="image" width="400"></div>
        {% endfor %}
    </div>
    <div class="is-vcentered">
        <button class="prev button is-link mt-1 is-vcentered"><i class="fas fa-backward mr-1"></i></button>
        <button class="next button is-link mt-1 is-vcentered"><i class="fas fa-forward mr-1"></i></button>
    </div>
</div>
</section>
{% endif %} #}

<section class="section section--garage">
<div class="columns garage is-12 is-multiline has-text-centered">
<div class="column garage-data is-12">
<h1 class="title is-4 blue-text">Liste des services proposés par : {{ garage.name }}</h1>
</div>
{% for service in garage.service %}
<div class="column garage-service is-4">
      <p class="content is-small-1"></p>
      {{ service.name }} - {{ service.price }}€
   </div>
{% endfor %}
</div>
</section>

<section class="section section--garage flex-1">
    <div class="columns garage is-12 has-text-centered flex-between is-mobile is-multiline">
        <div class="column garage-info is-6-mobile is-mobile">
            <div class="content is-small-3 blue-text-strong">Présentation du professionnel :</div>
                <p>{{ garage.presentation }}</p>
        </div>
    <div class="column garage-info is-6-mobile is-mobile">
        <div class="content is-small-3 blue-text-strong">Prochains rendez-vous disponibles :</div>
            <div class="columns flex-between is-12 is-multiline">
                <div class="is-vcentered">
                    {% set date_memo = null %}
                    {% for visit in visitList %}
                    {% if visit.date | date('d/m/Y') != date_memo %}
                        <div class="date">{{ visit.date | date('d/m/Y') }}</div>
                    {% set date_memo = visit.date | date('d/m/Y') %}
                    {% endif %}
                        <div>{{ visit.time | date('H \\h i')}}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    <div class="column garage-info is-vcentered is-12-mobile is-mobile">
    <div id="map" class="is-vcentered"></div>
    </div>
</section>

{% if garage.comments|length > 0 %}
    <section class="section section--garage">
        <div class="columns garage is-12 has-text-centered">

            {% for comment in garage.comments %}
                <div class="column garage-review is-4">
                    <strong>{{ comment.user.firstname }} {{ comment.user.lastname }}</strong> a dit :
                    <blockquote>
                        {{comment.content}}
                    </blockquote>
                    <strong>Note donnée : </strong>

                    {% include 'partials/rating.html.twig' with {'rating': comment.rate } %}
                </div>
            {% endfor %}
                <div class="column garage-review is-4">
                </div>
                <div class="column garage-review is-4">
                </div>
        </div>
    </section>
{% endif %}    
        

<script src="https://maps.google.com/maps/api/js?key=AIzaSyAa_XzBtUTRBtVf2yBNiqYhT1bvBJX_Xoo" type="text/javascript"></script>
<script>
var myLatlng = new google.maps.LatLng({{ zoomLatitude }}, {{ zoomLongitude }});
map = new google.maps.Map(document.getElementById("map"), {
		center: myLatlng,
		zoom: 15,
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		mapTypeControl: true,
		scrollwheel: true,
		mapTypeControlOptions: {
			style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR
		},
			navigationControl: true,
			navigationControlOptions: {
			style: google.maps.NavigationControlStyle.ZOOM_PAN
            }
     });
var marker = new google.maps.Marker({
    position: myLatlng,
    title:"Le garage se trouve ici",
    icon: {
      					url: "{{ asset('assets/img/wrench.png') }}"
    				}
});

// To add the marker to the map, call setMap();
marker.setMap(map);
</script>

<script>
function goBack() {
  window.history.back();
}
</script>

{# Script du carroussel #}

<script src="{{ asset('assets/js/siema/dist/siema.min.js') }}"></script>
<script>
const mySiema = new Siema();
document.querySelector('.prev').addEventListener('click', () => mySiema.prev());
document.querySelector('.next').addEventListener('click', () => mySiema.next());
</script>

{% endblock %}