{% extends 'base.html.twig' %}

{% block title %}AllO'Mecano | Mes rdv{% endblock %}

{% block body %}

{% if visit|length > 0 %}
    <section class="section-confirm columns is-12 is-multiline">
    <div class="column is-12 has-text-centered"><span class="tag is-danger is-medium">RDV passés</span></div>
        {% for visitDetails in visit %}
            {% if visitDetails.date | date('d/m/Y') <= "now"|date("m/d/Y") %}
                <div class="column is-4 is-vcentered">
                    <div class="confirm-reservation">
                        <p>RDV du {{ visitDetails.date | date('d/m/Y') }} à {{ visitDetails.time | date('H\\hi')}}</p>
                        <p>Avec {{ visitDetails.user.firstname }} {{  visitDetails.user.lastname }}</p>
                        <p>Tel : 0{{visitDetails.user.phone }}</p>
                        <p>Prestation demandée : {{ visitDetails.service.name }}</p>
                        <p>Tarif : {{ visitDetails.service.price }}€</p>
                    </div>
                </div>

            {% endif %}
    </section>
        {% endfor %}

    <section class="section-confirm columns is-12 is-multiline">
    <div class="column is-12 has-text-centered"><span class="tag is-info is-medium">RDV à venir</span></div>
        {% for visitDetails in visit %}
            {% if visitDetails.date | date('d/m/Y') >= "now"|date("m/d/Y") %}
                <div class="column is-4 is-vcentered">
                    <div class="confirm-reservation">
                        <p>RDV du {{ visitDetails.date | date('d/m/Y') }} à {{ visitDetails.time | date('H\\hi')}}</p>
                        <p>Avec {{ visitDetails.user.firstname }} {{  visitDetails.user.lastname }}</p>
                        <p>Tel : 0{{visitDetails.user.phone }}</p>
                        <p>Prestation demandée : {{ visitDetails.service.name }}</p>
                        <p>Tarif : {{ visitDetails.service.price }}€</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{%  else %}
<p>Vous n'avez pas encore de rdv réservés !</p>
{% endif %}

{% endblock %}

