{% extends 'base.html.twig' %}

{% block title %}Allomecano | Réservation{% endblock %}

{% block body %}
<section class="section">
<ul class="steps">
  <li class="step-item is-completed is-success">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-check"></i>
      </span>
    </div>
    <div class="step-details is-primary is-completed">
      <p class="step-title">Choisir un professionnel</p>
      <p>Je choisis le professionnel qui s'occuper de mon véhicule.</p>
    </div>
  </li>
  <li class="step-item is-info is-completed">
    <div class="step-marker"></div>
    <div class="step-details">
      <p class="step-title">Choisir un créneau horaire</p>
      <p>Je choisis le créneau horaire de mon futur rdv.</p>
    </div>
  </li>
  <li class="step-item is-primary">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-flag"></i>
      </span>
    </div>
    <div class="step-details">
      <p class="step-title">Confirmer mon rdv</p>
      <p>Un résumé de mes choix apparaît, si tout est ok je peux valider.</p>
    </div>
  </li>
</ul>
</section>

<section class="section section--garage">
<div class="columns garage is-12 is-multiline has-text-centered">
    <div class="column garage-logo is-4">
        {% if garage.avatar is null %}
        <img src="{{"https://bulma.io/images/placeholders/96x96.png"}}">
        {% else %}
        <img class="avatar-garage" src="{{ asset( garage.avatar) }}">
        {% endif %}
    </div>

    <div class="column garage-data is-4">
        <h1 class="title is-2 blue-text">{{ garage.name }}</h1>
        <div class="content is-small-3 blue-text-strong">Adresse :</div>
        <p class="content is-small-2">{{garage.adress}}</p>
        <div class="content is-small-3 blue-text-strong">Note globale donnée par nos utilisateurs :</div>
        {% if garage.comments|length > 0 %}
            <small>Moyenne calculée sur {{ garage.comments|length }} avis.</small>
            {% include 'partials/rating.html.twig' with {'rating': garage.avgRatings } %}
        {% else %}
            <p>Ce garage n'a pas encore d'avis.</p>
        {% endif %}

    </div>

    <div class="column garage-data is-4">
        <div class="column garage-data is-vcentered">
            <div class="siema">
                {% for image in garage.images %}
                <div><img src="{{ asset( image.url ) }}" alt="image" width="400"></div>
                {% endfor %}
            </div>
            <div class="is-vcentered">
                <button class="prev button is-link mt-1 is-vcentered"><i class="fas fa-backward mr-1"></i></button>
                <button class="next button is-link mt-1 is-vcentered"><i class="fas fa-forward mr-1"></i></button>
            </div>
        </div>
    </div>
</div>
</section>

<section class="section section--garage flex-1">
<div class="column is-6 is-size-4 is-vcentered has-text-centered underline-green">
<i class="far fa-calendar-alt mr-1"></i>Choisir mon RDV
</div>
{% set date_memo = null %}
{% set id = 0 %}
<form action="{{ path('reservation_confirm', {id: garage.id }) }}" method="POST">
  <div class="columns is-multiline is-12 has-text-centered">
    <div class="column reservation-infos is-12 is-size-4">

      {% for visit in visite %}
      {% if (visit.date | date('d/m/Y') != date_memo) and date_memo != null %}
      {% set id = id + 1 %}
      </div>
      {% endif %}
        {% if visit.date | date('d/m/Y') != date_memo %}
          {% if (visit.date | date('d/m/Y') == date_memo) and date_memo != null %}
          </div>
          {% else %}
          {% if id == 0 %}
          <div class="reservation--content" data-id="{{ id }}">
          {% else %}
          <div class="reservation--content display-none" data-id="{{ id }}">
          {% endif %}
        {% endif %}
        <div class="reservation-previous">
          <i class="fas fa-ban mr-1"></i></div>{{ visit.date| date('d/m/Y') }}
          <div class="reservation-next">
          <i class="fas fa-chevron-circle-right"></i></div>
          {% set date_memo = visit.date | date('d/m/Y') %}
        {% endif %}
          <div class="radios">
              <input type="radio" name="visit_id" value="{{ visit.id }}" id="{{ visit.id }}"/>
                <label class="radio" for="{{ visit.id }}">
                  <div class="garage is-vcentered" id="{{ visit.id }}">{{ visit.time | date('H \\h i')}}
                </label>
          </div>
          </div>
           {% set date_memo = visit.date | date('d/m/Y') %}
      {% endfor %}
    
  </div>

{% if not app.user %}
	<div class="buttons is-vcentered mt-5">
		<a href="{{ path('app_login') }}" class="button is-light is-vcentered"> 
            <strong><i class="fas fa-sign-in-alt mr-1"></i>Se connecter pour confirmer mon rdv</strong>
    </a> 
	</div>
{% endif %}
{% if app.user %}
    <div class="buttons is-vcentered mt-5">
        <button href="{{ path('reservation_confirm', {id: garage.id }) }}" class="button is-primary is-vcentered">
            <i class="fas fa-check mr-1"></i>Finaliser ma prise de rdv
        </button>
	</div>
{% endif %}
</form>

</section>

<script>

  let currentDivID = 0;
  let maxDivID = {{ id }};

  $( ".reservation-previous" ).click(function() {
    // On passe la current div en display: none;
    $('.reservation--content[data-id="' + currentDivID + '"]').addClass('display-none');

    // On décrémente currentDivID
    currentDivID--;

    // On bloque la currentDivID à 0 si on essaye de descendre en dessous de 0
    if (currentDivID <= 0)
    {
      currentDivID = 0;
    }

    // On affiche la current div en supprimant le display: none;
    $('.reservation--content[data-id="' + currentDivID + '"]').removeClass('display-none');

     modifyLiImg();
    
  });

  $( ".reservation-next" ).click(function() {

    // On passe la current div en display: none;
    $('.reservation--content[data-id="' + currentDivID + '"]').addClass('display-none');

    // On incrémente currentDivID
    currentDivID++;

    // Si on dépasse le maxID on passe currentDivID à la valeur max
    if (currentDivID >= maxDivID)
    {
      currentDivID = maxDivID;
    }

    // On affiche la current div en supprimant le display: none;
    $('.reservation--content[data-id="' + currentDivID + '"]').removeClass('display-none');

    modifyLiImg();

  });

  function modifyLiImg() {

    if (currentDivID == 0)
    {
    // On passe le bouton précédent en disabled
      $( ".reservation-previous" ).html('<i class="fas fa-ban mr-1"></i>');
    }
    else {
    // Le bouton prend sa forme d'origine
      $( ".reservation-previous" ).html('<i class="fas reservation-previous fa-chevron-circle-left mr-1"></i>');
    }

    if (currentDivID >= maxDivID)
    {
    // On passe le bouton suivant en disabled
      $( ".reservation-next" ).html('<i class="fas fa-ban"></i>');
    }
    else {
    // Le bouton prend sa forme d'origine
      $( ".reservation-next" ).html('<i class="fas fa-chevron-circle-right"></i>');
    }
  }

</script>

{# Script du carroussel #}

<script src="{{ asset('assets/js/siema/dist/siema.min.js') }}"></script>
<script>
const mySiema = new Siema();
document.querySelector('.prev').addEventListener('click', () => mySiema.prev());
document.querySelector('.next').addEventListener('click', () => mySiema.next());
</script>

{% endblock %}