{% extends 'base.html.twig' %}

{% block title %}Allomecano | Confirmer le rendez-vous{% endblock %}

{% block body %}

<section class="section">
<ul class="steps">
  <li class="step-item is-completed is-success">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-check"></i>
      </span>
    </div>
    <div class="step-details">
      <p class="step-title">Choisir un professionnel</p>
      <p>Je choisis le professionnel qui s'occuper de mon véhicule.</p>
    </div>
  </li>
  <li class="step-item is-success is-completed">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-check"></i>
      </span>
    </div>
    <div class="step-details">
      <p class="step-title">Choisir un créneau horaire</p>
      <p>Je choisis le créneau horaire de mon futur rdv.</p>
    </div>
  </li>
  <li class="step-item is-active is-completed is-info">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-flag"></i>
      </span>
    </div>
    <div class="step-details">
      <p class="step-title">Confirmer mon rdv</p>
      <p>Un résumé de mes choix apparaît, si tout est ok je peux valider mon choix.</p>
    </div>
  </li>
</ul>
</section>

<section class="section-confirm column is-12">
  <div class="column is-6 is-vcentered">
    <div class="confirm-reservation">
      <p class="blue-text-strong is-size-4">Résumé de votre sélection :</p>
      <p> Date et heure et de votre rendez-vous : {{ visit.date | date('d/m/Y') }} à {{ visit.time | date('H\\hi') }} </p>
      <p> Professionnel : {{ visit.garage.name }} </p>
      <p> Prestation : {{ service.name }}</p>
      <p> Montant à régler au professionnel : {{ service.price }}€</p>
    </div>
  </div>
</section>

<div class="button-confirm">
{{ form_start(form)}}
  {{ form_widget(form, { 'attr': {'class': 'is-hidden'}}) }}
  <button class="button is-primary is-vcentered">
    <i class="fas fa-check mr-1"></i>Confirmer mon rdv
  </button>
{{ form_end(form)}}
</div>
{% endblock %}