{% extends 'base.html.twig' %}

{% block title %}Allomecano | Réservation{% endblock %}

{% block body %}
<section class="section">
<ul class="steps">
  <li class="step-item is-completed is-success">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-check"></i>
      </span>
    </div>
    <div class="step-details is-primary is-completed">
      <p class="step-title">Choisir un professionnel</p>
      <p>Je choisis le professionnel qui s'occuper de mon véhicule.</p>
    </div>
  </li>
  <li class="step-item is-info is-completed">
    <div class="step-marker"></div>
    <div class="step-details">
      <p class="step-title">Choisir un créneau horaire</p>
      <p>Je choisis le créneau horaire de mon futur rdv.</p>
    </div>
  </li>
  <li class="step-item is-primary">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-flag"></i>
      </span>
    </div>
    <div class="step-details">
      <p class="step-title">Confirmer mon rdv</p>
      <p>Un résumé de mes choix apparaît, si tout est ok je peux valider.</p>
    </div>
  </li>
</ul>
</section>

<section class="section section--garage">
<div class="columns garage is-12 is-multiline has-text-centered">
    <div class="column garage-logo is-4">
    <img src="https://bulma.io/images/placeholders/96x96.png">
    Logo
    
    {# {% for image in garage.images %}
        {{image.url}}
    {% endfor %} #}
    </div>
    <div class="column garage-data is-4">
    <h2 class="title is-3">{{ garage.name }}</h2>
        <p>Note globale donnée par nos utilisateurs</p>
        <small>Moyenne calculée sur {{ garage.comments|length }} avis.</small>
        {% include 'partials/rating.html.twig' with {'rating': garage.avgRatings } %}
    </div>
    <div class="column garage-address is-4">
    <br>
    Adresse:
    <div class="content is-small-2">{{garage.adress}}
    </div>
</div>
</section>

{% set date_memo = null %}
<form action="{{ path('reservation_confirm', {id: garage.id }) }}" method="POST">
  <div class="columns is-multiline is-12 has-text-centered">
    <div class="column reservation-infos is-12">

      {% for visit in visite %}
        {% if visit.date | date('d/m/Y') != date_memo %}
          <div>{{ visit.date | date('d/m/Y') }}</div>
          {% set date_memo = visit.date | date('d/m/Y') %}
        {% endif %}
        <div class="radios">
          <input type="radio" name="visit_id" value="{{ visit.id }}" id="{{ visit.id }}"/>
            <label class="radio" for="{{ visit.id }}">
              <div class="garage is-vcentered" id="{{ visit.id }}">{{ visit.time | date('H \\h i')}}</div>
            </label>
        </div>
      {% endfor %}
    </div>
  </div>

{% if not app.user %}
	<div class="buttons is-vcentered">
		<a href="{{ path('app_login') }}" class="button is-light is-vcentered"> 
            <strong><i class="fas fa-sign-in-alt mr-1"></i>Se connecter pour confirmer mon rdv</strong>
    </a> 
	</div>
{% endif %}
{% if app.user %}
    <div class="buttons is-vcentered">
        <button href="{{ path('reservation_confirm', {id: garage.id }) }}" class="button is-primary is-vcentered">
            <i class="fas fa-check mr-1"></i>Finaliser ma prise de rdv
        </button>
	</div>
{% endif %}
</form>
   
{% endblock %}