{% extends 'base.html.twig' %}

{% block title %}Allomecano | Confirmer le rendez-vous{% endblock %}

{% block body %}

<section class="section">
<ul class="steps">
  <li class="step-item is-completed is-success">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-check"></i>
      </span>
    </div>
    <div class="step-details is-primary is-completed">
      <p class="step-title">Choisir un professionnel</p>
      <p>Je choisis le professionnel qui s'occuper de mon véhicule.</p>
    </div>
  </li>
  <li class="step-item is-success is-completed">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-check"></i>
      </span>
    </div>
    <div class="step-details">
      <p class="step-title">Choisir un créneau horaire</p>
      <p>Je choisis le créneau horaire de mon futur rdv.</p>
    </div>
  </li>
  <li class="step-item is-completed is-info">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-flag"></i>
      </span>
    </div>
    <div class="step-details">
      <p class="step-title">Confirmer mon rdv</p>
      <p>Un résumé de mes choix apparaît, si tout est ok je peux valider mon choix.</p>
    </div>
  </li>
</ul>
</section>

{% dump(visit) %}
{% dump(service) %}

<form action="">
<p> RDV le : {{ visit.date | date('d/m/Y') }} </p>
<p> A : {{ visit.time | date('H \\h i') }}  </p>
<p> avec : {{ visit.garage.name }} </p>
<p>Pour : {{ service.name }}</p>
<p>Tarif de la préstation : {{ service.price }}€</p>
<button href="{{ path('reservation_success') }}" class="button is-primary is-vcentered">
  <i class="fas fa-check mr-1"></i>Confirmer mon rdv
</button>
</form>

{# {{ form(formVisit, {action: path('reservation_success')}) }} #}

{% endblock %}